@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './mixins.scss';

* {
  font-family: 'Noto Sans TC';
}
.app-container {
  @apply flex justify-center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  &:before {
    @apply absolute w-full;
    background-color: #282c34;
    content: '';
    height: 36vh;
  }
}
.content-container {
  @apply absolute;
  top: calc(36vh - 141px);
  width: calc(100vw - 32px);
  @include sm {
    width: 280px;
  }
}
.task-container {
  @apply overflow-y-auto px-3;
  max-height: 50vh;
}
